html {
  scroll-behavior: smooth;
  margin: 0; }

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/apple.jpg");
  font-family: 'Righteous'; }

#cssmenu {
  width: 100%;
  display: inline-block; }

/** HEADER */
/** NAVIGATION BAR */
nav {
  overflow: hidden;
  background-color: transparent;
  transition: background-color 1s ease 0s;
  position: fixed;
  top: 0;
  width: 100%; }
  nav ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 50px; }
    nav ul li {
      display: inline;
      font-family: "Righteous", sans-serif;
      font-size: 25px; }
      nav ul li:hover {
        color: #C57ED3;
        border: 1px solid #BBBABF;
        padding: 10px; }
      nav ul li a {
        color: black;
        text-decoration: none;
        padding: 50px; }
        nav ul li a span {
          color: greenyellow; }

.container {
  display: grid;
  grid-template-columns: auto;
  width: 100%; }

h1, h2, h3 {
  font-family: 'Poppins', sans-serif; }

.header {
  background-image: url("../img/com.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  overflow: hidden; }
  .header h1 {
    color: #BBBABF;
    padding: 0;
    font-size: 50px;
    text-shadow: 3px #BBBABF; }
  .header p {
    color: #BBBABF;
    padding: 0;
    margin-top: -25px;
    font-size: 25px; }
  .header span {
    color: #AC8C63;
    text-shadow: black 3px; }
  .header a {
    color: greenyellow;
    text-decoration: none; }

.header-text {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px 0; }

.header-text .primary-button {
  border: none;
  outline: 0;
  padding: 20px 30px;
  color: #BBBABF;
  border: 2px solid #BBBABF;
  border-radius: 3px;
  background-color: #AC8C63;
  text-align: center;
  cursor: pointer; }

.header-text .secondary-button {
  border: none;
  outline: 0;
  padding: 20px 30px;
  color: #BBBABF;
  border: 2px solid #BBBABF;
  border-radius: 3px;
  background-color: transparent;
  text-align: center;
  cursor: pointer; }

.header-text .primary-button:hover {
  background-color: #a8a7ac;
  color: border; }

.secondary-button:hover {
  color: black;
  background-color: #BBBABF; }

.intro-text {
  display: flex;
  grid-template-columns: auto;
  padding: 10px 0;
  background-color: #BCBCBC; }
  .intro-text h2 {
    font-size: 40px;
    padding: 90px 100px; }
  .intro-text p {
    font-size: 20px;
    justify-content: right;
    padding: 90px; }
  .intro-text p span {
    color: #AC8C63;
    font-weight: bold; }
  .intro-text .column#zoomIn img {
    padding: 30px;
    width: 300px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 17%; }
  .intro-text .column#zoomIn:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

.plans {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #BBBABF;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 20px; }
  .plans h1 {
    font-family: Faster One; }

.panel {
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 0px;
  padding: 0px; }

.panel-2 {
  border-left: 1px solid #BBBABF;
  padding-left: 60px; }

.panel-3 {
  border-left: 1px solid #BBBABF;
  padding-left: 40px; }

.panel-1 .panel-image {
  /*------Activity - Link the Mixer.png below------*/
  background-image: url("../img/Mixer.png"); }

.panel-2 .panel-image {
  /*------Activity - Link the Headphone.png below------*/
  background-image: url(""); }

.panel-3 .panel-image {
  /*------Activity - Link the DJ-Mixer.png below------*/
  background-image: url(""); }

.panel-1, .panel-2, .panel-3 {
  width: 300px;
  overflow: hidden;
  text-align: center; }
  .panel-1 .panel-image, .panel-2 .panel-image, .panel-3 .panel-image {
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 320px;
    width: inherit;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .panel-1 .panel-image:hover, .panel-2 .panel-image:hover, .panel-3 .panel-image:hover {
    background-size: 90%; }
  .panel-1 .panel-text, .panel-2 .panel-text, .panel-3 .panel-text {
    color: #BBBABF;
    font-weight: bold;
    margin: auto;
    width: 50%;
    border-top: 3px solid #e0dfe5; }

.image1 {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  padding: 10px;
  border-bottom: 3px solid #e0dfe5; }

/**************parallax-section****************/
.parallax-section {
  background-image: url("../img/key.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh; }
  .parallax-section h1 {
    text-align: center;
    font-size: 40px;
    color: #BBBABF; }
  .parallax-section img {
    padding: 0;
    width: 50%; }

.footer {
  background-image: url("../img/com.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #BBBABF;
  width: 80%;
  opacity: 0;
  animation: theAnimation 1s;
  animation-fill-mode: forwards; }
  .modal-content img {
    width: 30%; }

.wrap {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.slide-container {
  position: absolute;
  left: 0;
  height: 100%;
  bottom: 30%; }

.slides {
  display: flex;
  flex: row;
  flex-wrap: no-wrap;
  height: 100%;
  margin: 0;
  padding: 0; }

.animate {
  animation: moveSlideshow 5s linear infinite; }

body, html {
  margin: 0; }

@keyframes moveSlideshow {
  100% {
    /*transform: translateX(calc(-100% + 100vw));*/
    transform: translate3d(calc(-100% + 100vw), 0, 0); } }
.slides li {
  display: block;
  box-sizing: border-box;
  width: 14vw;
  height: 50%;
  align-items: center;
  justify-content: center;
  text-align: center; }

.slides li > div {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-self: center; }

.slides li span {
  display: block;
  font-size: 10vh;
  line-height: 100vh;
  font-weight: 800;
  letter-spacing: -.01em;
  color: #00509A; }

@media screen and (max-width: 1080px) {
  .container {
    display: grid;
    grid-template-columns: auto;
    width: 100%; }

  h1, h2, h3 {
    font-family: 'Poppins', sans-serif; }

  .header {
    background-image: url("../img/com.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .header h1 {
      color: #BBBABF;
      padding-left: 50%;
      font-size: 50px;
      text-shadow: 3px #BBBABF;
      white-space: nowrap; }
    .header p {
      color: #BBBABF;
      padding-left: 50%;
      margin-top: -25px;
      font-size: 25px; }
    .header span {
      color: #AC8C63;
      text-shadow: black 3px; }
    .header a {
      color: greenyellow;
      text-decoration: none; }

  .header-text .secondary-button {
    border: none;
    outline: 0;
    padding: 20px 30px;
    color: #BBBABF;
    border: 2px solid #BBBABF;
    border-radius: 3px;
    background-color: transparent;
    text-align: center;
    cursor: pointer; }

  .header-text .secondary-button {
    margin-left: 50%;
    color: black;
    background-color: #BBBABF; }

  .plans {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    grid-column-gap: 5px;
    padding: 10px;
    justify-content: center; }

  .panel-1, .panel-2, .panel-3 {
    width: 300px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px; }
    .panel-1 .panel-image, .panel-2 .panel-image, .panel-3 .panel-image {
      height: 300px;
      width: inherit; } }
@media screen and (max-width: 640px) {
  .header-text .secondary-button {
    margin: 10px; }

  .header-text {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

  .plans {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    grid-column-gap: 5px;
    padding: 10px;
    justify-content: center; }

  .panel-1, .panel-2, .panel-3 {
    width: 300px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px; }
    .panel-1 .panel-image, .panel-2 .panel-image, .panel-3 .panel-image {
      height: 300px;
      width: inherit; } }
@media screen and (max-width: 320px) {
  .topnav {
    width: 100%; }

  .header-text .secondary-button {
    margin: 10px; }

  .header-text {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

  .plans {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    grid-column-gap: 5px;
    padding: 10px;
    justify-content: center; }

  .panel-1, .panel-2, .panel-3 {
    width: 300px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px; }
    .panel-1 .panel-image, .panel-2 .panel-image, .panel-3 .panel-image {
      height: 300px;
      width: inherit; } }

/*# sourceMappingURL=styles.css.map */
