.container {
  display: grid;
  grid-template-columns: auto;
  width: 100%; }

.container2-text {
  display: flex;
  grid-template-columns: auto;
  padding: 0px 101px;
  background-color: #2C3952; }

.container4 {
  display: grid;
  background-color: #2C3952;
  padding: 30px;
  justify-content: center;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif; }
  .container4 .sub-section2 {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto; }

.container5 {
  display: grid;
  background-color: #2B3347;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 20px;
  font-family: poppins; }
  .container5 .sub-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px; }

#menuToggle {
  display: grid;
  position: static;
  top: 155%;
  left: 1%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

.wrap {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }

* {
  font-family: 'Orbitron', sans-serif;
  word-spacing: 3px;
  letter-spacing: 1px; }

html {
  scroll-behavior: smooth;
  margin: 0; }

body {
  left: 0;
  margin: 0; }

/** HEADER */
/** NAVIGATION BAR */
a {
  text-decoration: none;
  color: #aaa;
  transition: color 0.3s ease; }

a:hover {
  color: white; }

nav {
  overflow: visible;
  background-color: transparent;
  transition: background-color 1s ease 0s;
  position: fixed;
  top: 78px;
  width: 169%;
  z-index: 1; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 27px;
  position: absolute;
  top: -2px;
  left: 35px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: grey;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  left: 40px; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
  left: 35px; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

#menu {
  position: absolute;
  width: 177px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #2C3952;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 52px;
  font-size: 22px; }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none; }

h1, h2, h3 {
  font-family: 'Orbitron', sans-serif; }

.header {
  background-image: url("../img/rotate2.jpg");
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  display: grid;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
  grid-template-columns: auto;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  left: 0; }
  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 5em;
    text-shadow: 3px #BBBABF;
    margin: 0;
    white-space: nowrap; }
  .header p {
    color: #aaa;
    padding: 0;
    margin-top: -2px;
    font-size: 1em; }
  .header span {
    color: #AC8C63;
    text-shadow: black 3px; }
  .header a {
    color: #aaa;
    text-decoration: none; }

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #BBBABF;
  padding: 50px;
  border: 1px solid #aaa; }
  .header-text .image-s:hover {
    background-image: url("../img/sonic2.gif"); }
  .header-text .image-s {
    width: 90px;
    margin-left: 50%; }

.container2-text h2 {
  font-size: 40px;
  padding: 14px 84px;
  background: -webkit-linear-gradient(grey, #aaa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
.container2-text p {
  font-size: 18px;
  justify-content: right;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
  word-spacing: 3px;
  margin-left: 81px; }
.container2-text p span {
  color: #AC8C63;
  font-weight: bold; }
.container2-text .column#zoomIn img {
  margin-top: 70px;
  padding: 1px;
  max-width: 300px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 10px 10px 5px #2B3347; }
.container2-text .column#zoomIn:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.container4 h1 {
  font-family: 'Orbitron', sans-serif;
  color: #333;
  font-size: 1.8em;
  border-bottom: 5px solid grey;
  width: 40px; }
.container4 h2 {
  color: #333; }
.container4 p {
  letter-spacing: 1px; }

.panel {
  justify-content: center;
  margin-top: 31px;
  margin-bottom: 0px;
  padding: 0px; }

.panel-1 {
  background-color: grey;
  padding: 40px; }

.panel-2 {
  border-left: 3px solid grey;
  padding: 40px;
  background-color: grey; }

.panel-3 {
  border-left: 3px solid grey;
  padding: 40px;
  background-color: grey; }

.panel-image {
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  height: 320px;
  width: inherit;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.panel-image:hover {
  background-size: 90%; }

.panel-text {
  color: #BBBABF;
  font-weight: bold;
  margin: auto;
  width: 50%;
  border-top: 3px solid #e0dfe5; }

.image1 {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  padding: 10px;
  border-bottom: 3px solid #e0dfe5; }

/**************parallax-section****************/
.container3 {
  background-image: url("../img/spider.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60vh; }
  .container3 h1 {
    text-align: center;
    font-size: 40px;
    color: #aaa; }
  .container3 img {
    padding: 0;
    max-width: 50%;
    border-bottom: 7px solid #2C3952;
    padding-bottom: 10%; }

/*******************styling of footer********************/
.footer {
  background-color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 50vh;
  display: inline; }
  .footer .contact1 {
    display: inline-flex; }
  .footer h1 {
    text-align: center;
    font-size: 40px;
    color: grey; }
  .footer p {
    text-align: center;
    color: #BBBABF;
    background: -webkit-linear-gradient(#2C3952, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .footer span {
    display: inline;
    word-spacing: 100px; }
  .footer a {
    display: inline;
    white-space: nowrap;
    margin-left: 148%;
    background: none;
    color: grey;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: relative;
    width: 40px;
    height: 28px;
    padding-top: 60px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
  .footer a span {
    display: inline;
    margin-left: 100%;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 70px 1px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .4s;
    transition: all .4s;
    word-spacing: 30px; }
  .footer a:hover span {
    margin-left: 5%;
    display: inline;
    visibility: visible;
    opacity: 1;
    word-spacing: 30px; }
  .footer img {
    display: inline;
    margin-left: 100%;
    width: 90px;
    padding-left: 40px; }
  .footer .icon1 {
    list-style-type: none;
    display: inline; }
  .footer .icon1:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.7); }

.container5 .sub-section h2 {
  color: grey; }
.container5 h1 {
  color: #484848;
  border-bottom: 5px solid grey;
  width: 40px; }

.slide-container {
  position: absolute;
  left: 248px;
  height: 100%;
  bottom: 30%; }

.slides {
  display: flex;
  flex: row;
  flex-wrap: no-wrap;
  height: 100%;
  margin: 0;
  padding: 0; }

.slides li {
  display: block;
  box-sizing: border-box;
  width: 14vw;
  height: 50%;
  align-items: center;
  justify-content: center;
  text-align: center; }

.slides li > div {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-self: center; }

.slides li span {
  display: block;
  font-size: 10vh;
  line-height: 100vh;
  font-weight: 800;
  letter-spacing: -.01em;
  color: #00509A; }

footer li img img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); }

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #aaa;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  border: 2px #aaa solid; }

#myBtn:hover {
  background-color: #555; }

.header-text .primary-button {
  border: none;
  outline: 0;
  padding: 20px 30px;
  color: #BBBABF;
  border: 2px solid #BBBABF;
  border-radius: 3px;
  background-color: #AC8C63;
  text-align: center;
  cursor: pointer; }

.header-text .secondary-button {
  border: none;
  outline: 0;
  padding: 20px 30px;
  color: #BBBABF;
  border: 2px solid #BBBABF;
  border-radius: 3px;
  background-color: transparent;
  text-align: center;
  cursor: pointer; }

.header-text .primary-button:hover {
  background-color: #a8a7ac;
  color: border; }

.secondary-button:hover {
  color: #aaa;
  background-color: #2C3952; }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  html,
  body {
    width: auto;
    overflow-x: hidden; }

  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0; }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 50px;
    border: 1px solid #aaa; }

  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 5em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap; }

  .container2-text {
    display: flex;
    grid-template-columns: auto;
    padding: 0px 61px;
    background-color: #2C3952; }

  .container2-text h2 {
    font-size: 40px;
    padding: 14px 28px;
    background: -webkit-linear-gradient(grey, #aaa);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

  .container2-text p {
    font-size: 18px;
    justify-content: right;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 3px;
    margin-left: -18px;
    margin-right: 13%; }

  .container5 {
    display: grid;
    background-color: #2B3347;
    grid-column-gap: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    font-family: poppins; }
    .container5 .sub-section {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }

  .container5 .hover-image {
    max-width: 680px;
    box-shadow: 10px 10px 5px #2C3952; } }
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  html,
  body {
    width: auto;
    overflow-x: hidden; }

  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0; }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 50px;
    border: 1px solid #aaa; }

  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 5em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap; }

  .container2-text {
    display: flex;
    grid-template-columns: auto;
    padding: 0px 101px;
    background-color: #2C3952; }

  .container2-text h2 {
    font-size: 36px;
    padding: 7px 0px;
    background: -webkit-linear-gradient(grey, #aaa);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

  .container2-text p {
    font-size: 18px;
    justify-content: right;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 3px;
    margin-left: -24px;
    margin-right: 39%; }

  .container2-text .column#zoomIn img {
    margin-top: 108px;
    padding: 1px;
    max-width: 229px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 10px 10px 5px #2B3347; }

  .container5 {
    display: grid;
    background-color: #2B3347;
    grid-column-gap: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    font-family: poppins; }
    .container5 .sub-section {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }

  .container5 .hover-image {
    max-width: 478px;
    box-shadow: 10px 10px 5px #2C3952; } }
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    width: auto;
    overflow-x: hidden; }

  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0; }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 50px;
    border: 1px solid #aaa; }

  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 5em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap; }

  .container2-text {
    display: flex;
    grid-template-columns: auto;
    padding: 0px 101px;
    background-color: #2C3952; }

  .container2-text h2 {
    font-size: 36px;
    padding: 7px 0px;
    background: -webkit-linear-gradient(grey, #aaa);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

  .container2-text p {
    font-size: 18px;
    justify-content: right;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 3px;
    margin-left: -24px;
    margin-right: 39%; }

  .container2-text .column#zoomIn img {
    margin-top: 108px;
    padding: 1px;
    max-width: 229px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 10px 10px 5px #2B3347; }

  .container5 {
    display: grid;
    background-color: #2B3347;
    grid-column-gap: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    font-family: poppins; }
    .container5 .sub-section {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }

  .container5 .hover-image {
    max-width: 363px;
    box-shadow: 10px 10px 5px #2C3952; } }
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html,
  body {
    width: auto;
    overflow-x: hidden; }

  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0; }

  .header-text {
    position: absolute;
    top: 62%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 50px;
    border: 1px solid #aaa; }

  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 4em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap; }

  .container2-text {
    display: flex;
    grid-template-columns: auto;
    padding: 0px 101px;
    background-color: #2C3952; }

  .container2-text h2 {
    font-size: 33px;
    padding: 7px 0px;
    background: -webkit-linear-gradient(grey, #aaa);
    background-clip: border-box;
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

  .container2-text p {
    font-size: 16px;
    justify-content: right;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 3px;
    margin-left: -24px;
    margin-right: 59%; }

  .container2-text .column#zoomIn img {
    margin-top: 108px;
    padding: 1px;
    max-width: 229px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 10px 10px 5px #2B3347; }

  .container5 {
    display: grid;
    background-color: #2B3347;
    grid-column-gap: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    font-family: poppins; }
    .container5 .sub-section {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }

  .container5 .hover-image {
    max-width: 286px;
    box-shadow: 10px 10px 5px #2C3952; } }
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  html,
  body {
    width: auto;
    overflow-x: hidden; }

  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0; }

  .header-text {
    position: absolute;
    top: 64%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 32px;
    border: 1px solid #aaa; }

  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 3em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap; }

  .image-s {
    display: none; }

  .container2-text {
    display: flex;
    grid-template-columns: auto;
    padding: 0px 101px;
    background-color: #2C3952; }

  .container2-text h2 {
    font-size: 36px;
    padding: 7px 0px;
    background: -webkit-linear-gradient(grey, #aaa);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

  .container2-text p {
    font-size: 16px;
    justify-content: right;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 3px;
    margin-left: -55px;
    margin-right: 71%; }

  .container2-text .column#zoomIn img {
    margin-top: 108px;
    padding: 1px;
    max-width: 229px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 10px 10px 5px #2B3347;
    display: none; }

  .container5 {
    display: grid;
    background-color: #2B3347;
    grid-column-gap: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    font-family: poppins;
    margin-left: -23%; }
    .container5 .sub-section {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }

  .container5 .hover-image {
    max-width: 286px;
    box-shadow: 10px 10px 5px #2C3952; } }
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  html,
  body {
    width: auto;
    overflow-x: hidden; }

  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 80vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0; }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #BBBABF;
    padding: 10px;
    border: 1px solid #aaa; }

  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 2em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap; }

  .image-s {
    display: none; }

  .container2-text {
    display: flex;
    grid-template-columns: auto;
    padding: 0px 101px;
    background-color: #2C3952; }

  .container2-text h2 {
    font-size: 36px;
    padding: 7px 0px;
    background: -webkit-linear-gradient(grey, #aaa);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

  .container2-text p {
    font-size: 14px;
    justify-content: right;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 3px;
    margin-left: -44px;
    margin-right: 74%; }

  .container2-text .column#zoomIn img {
    display: none;
    margin-top: 108px;
    padding: 1px;
    max-width: 229px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 10px 10px 5px #2B3347; }

  .container5 {
    display: grid;
    background-color: #2B3347;
    grid-column-gap: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    font-family: poppins;
    margin-left: -52%; }
    .container5 .sub-section {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px; }

  .container5 .hover-image {
    max-width: 372px;
    box-shadow: 10px 10px 5px #2C3952; } }
@media (min-width: 240px) and (max-width: 320px) {
  html,
  body {
    width: auto;
    overflow-x: hidden; }

  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 86vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0; }

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 5px;
    border: 1px solid #aaa; }

  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 1.9em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap; }

  .image-s {
    display: none; }

  .container2-text {
    display: flex;
    grid-template-columns: auto;
    padding: 0px 0px;
    background-color: #2C3952; }

  .container2-text h2 {
    font-size: 31px;
    padding: 7px 56px;
    background: -webkit-linear-gradient(grey, #aaa);
    background-clip: border-box;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

  .container2-text p {
    font-size: 14px;
    justify-content: right;
    padding: 0px;
    font-family: 'Orbitron', sans-serif;
    word-spacing: 3px;
    margin-left: 60px;
    margin-right: 65%; }

  .container2-text .column#zoomIn img {
    display: none;
    margin-top: 108px;
    padding: 1px;
    max-width: 229px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    box-shadow: 10px 10px 5px #2B3347; }

  .container5 {
    display: grid;
    background-color: #2B3347;
    grid-column-gap: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 11px;
    font-family: poppins;
    margin-left: -61%; }
    .container5 .sub-section {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      margin-left: 27%; }

  .container5 .hover-image {
    max-width: 216px;
    box-shadow: 10px 10px 5px #2C3952; }

  .container5 h1 {
    color: #484848;
    border-bottom: 5px solid grey;
    width: 40px;
    text-align: center;
    margin-left: 28%; }

  .container5 .sub-section h2 {
    color: grey;
    margin-left: 2%; } }

/*# sourceMappingURL=styles.css.map */
