@media screen and (max-width: 1080px){
  nav {
  overflow: hidden;
  background-color: transparent;
  transition: background-color 1s ease 0s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 50px;
    li {
      display: inline;
      font-family: "Righteous", sans-serif;
      font-size: 32px;
      &:hover {
        color: #C57ED3;
        border: 1px solid #BBBABF;
        padding: 10px;
     } 
      a {
        color: black;
        text-decoration: none;
        padding: 30px;
      
      }
    }
  }
}
.header-text {
    
    position: absolute;
    white-space:nowrwap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px 0;
  }
}
// tablet view
@media screen and (max-width: 900px){
   nav {
  overflow: hidden;
  background-color: #aaa;
  transition: background-color 1s ease 0s;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    text-align: center;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 40px;
    li {
      display: inline;
      font-family: "Righteous", sans-serif;
      font-size: 5em;
      &:hover {
        color: #C57ED3;
        border: 1px solid #BBBABF;
        padding: 10px;
     } 
      a {
        color: black;
        text-decoration: none;
        padding: 20px;
      
      }
    }
  }
}
.header{
  height:150vh;
      background-image:  url("../img/coding.jpg");
  h1{
    font-size:4em;
    white-space:nowrap;
    text-align:center;
    justify-content:center;
    vertical-align:middle;
  }
  p{
    font-size:3em;
    white-space:nowrap;

  }
  .header-text {
    
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 5px 0;
    margin: 30%;
  }
  

.header-text .secondary-button {
    border: none;
    outline: 0;
    padding: 41px 113px;
    color: #BBBABF;
    border: 2px solid #BBBABF;
    border-radius: 3px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}
.header a {
    color: black;
    text-decoration: none;
    font-size:10vw;
}
}
.container2-text {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1px 0;
  background-color: #FFF;
 .container2 h2{
    color:red;
  }
}
.container2 h2{
  font-size: 5em;
  padding: 0px 0px;
  margin-left:38%;
  background: -webkit-linear-gradient(grey, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container2-text p {
  font-size: 2em;
  margin: 10px;
  padding: 0px;
  font-family: poppins;
  padding-top: 27%;
}
.container2-text .column#zoomIn img {
  margin-top: -591px;
  width: 82vw;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 17%;
}
.container5{
  display: grid;
  background-color: 	#f6f6f6;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
.sub-section{
  display: grid;
  grid-template-columns: auto;
  grid-gap:10px;
  h2{
    color:#aaa;
  }
}
  h1{
    font-size:4em;
    color:#484848;
    border-bottom:10px solid #aaa;
    width:80px;
  }
  
}
}
@media screen and (max-width: 360px){
  .topnav {
    width: 100%;
  }

  .header-text .secondary-button{
    margin: 10px;
  }
  

  .header-text {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin panel-default() {
    width: 300px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
  }
  .plans {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    grid-column-gap: 5px;
    padding: 10px;
    justify-content: center;
  }

  .panel-1, .panel-2, .panel-3 {
    @include panel-default();
    .panel-image {
      // background-attachment: fixed; This creates a parallax effect
      height: 300px;
      width: inherit;
    }
  }
}