//first container
.container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
  }
//   container 2 grids
  .container2-text {
    display: flex;
    grid-template-columns: auto;
    padding: 10px 0;
    background-color:$background;
  
  }
//   grids styling of container 4
  .container4{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: 	$background;
    grid-column-gap: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    font-family: poppins;
  }
  //grid styling to align two images next to each other
  .container5{
    display: grid;
    background-color: 	#f6f6f6;
    grid-column-gap: 80px;
    padding: 30px;
    justify-content: center;
    font-size: 20px;
    font-family: poppins;
    .sub-section{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap:10px;
     }
  }
//   grids styling for pop up nav bar
  #menuToggle
 {
   display: grid;
   position: static;
   top: 155%;
   left: 1%;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 
 //grid alignment for 4 images next to each other
.wrap{
    display:grid;
    grid-template-columns: auto auto auto auto;
    margin:0;
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
  }
