/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  html,
  body {
    width: auto;
    overflow-x: hidden;
  }
  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0;
  }
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 50px;
    border: 1px solid #aaa;
  }
  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 5em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap;
  }
  .container2-text {

    display: flex;
    grid-template-columns: auto;
    padding: 0px 61px;
    background-color: #2C3952;

}
.container2-text h2 {

  font-size: 40px;
  padding: 14px 28px;
  background: -webkit-linear-gradient(grey, #aaa);
      background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.container2-text p {

  font-size: 18px;
  justify-content: right;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
  word-spacing: 3px;
  margin-left: -18px;
  margin-right: 13%;

}
.container5{
  display: grid;
  background-color: $third-background;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
  .sub-section{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap:10px;
   }
}
.container5 .hover-image {

  max-width: 680px;
  box-shadow: 10px 10px 5px #2C3952;

}
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  html,
  body {
    width: auto;
    overflow-x: hidden;
  }
  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0;
  }
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 50px;
    border: 1px solid #aaa;
  }
  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 5em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap;
  }
  .container2-text {

    display: flex;
    grid-template-columns: auto;
    padding: 0px 101px;
    background-color: #2C3952;

}
.container2-text h2 {

  font-size: 36px;
  padding: 7px 0px;
  background: -webkit-linear-gradient(grey, #aaa);
      background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.container2-text p {

  font-size: 18px;
  justify-content: right;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
  word-spacing: 3px;
  margin-left: -24px;
  margin-right: 39%;

}
.container2-text .column#zoomIn img {

  margin-top: 108px;
  padding: 1px;
  max-width: 229px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 10px 10px 5px #2B3347;

}
.container5{
  display: grid;
  background-color: $third-background;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
  .sub-section{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap:10px;
   }
}
.container5 .hover-image {

  max-width: 478px;
  box-shadow: 10px 10px 5px #2C3952;

}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  html,
  body {
    width: auto;
    overflow-x: hidden;
  }

  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0;
  }
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 50px;
    border: 1px solid #aaa;
  }
  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 5em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap;
  }
  .container2-text {

    display: flex;
    grid-template-columns: auto;
    padding: 0px 101px;
    background-color: #2C3952;

}
.container2-text h2 {

  font-size: 36px;
  padding: 7px 0px;
  background: -webkit-linear-gradient(grey, #aaa);
      background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.container2-text p {

  font-size: 18px;
  justify-content: right;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
  word-spacing: 3px;
  margin-left: -24px;
  margin-right: 39%;

}
.container2-text .column#zoomIn img {

  margin-top: 108px;
  padding: 1px;
  max-width: 229px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 10px 10px 5px #2B3347;

}
.container5{
  display: grid;
  background-color: $third-background;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
  .sub-section{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap:10px;
   }
}
.container5 .hover-image {

  max-width: 363px;
  box-shadow: 10px 10px 5px #2C3952;

}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html,
  body {
    width: auto;
    overflow-x: hidden;
  }
  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0;
  }
  .header-text {
    position: absolute;
    top: 62%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 50px;
    border: 1px solid #aaa;
  }
  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 4em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap;
  }
  .container2-text {

    display: flex;
    grid-template-columns: auto;
    padding: 0px 101px;
    background-color: #2C3952;

}
.container2-text h2 {

  font-size: 33px;
  padding: 7px 0px;
  background: -webkit-linear-gradient(grey, #aaa);
      background-clip: border-box;
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.container2-text p {
  font-size: 16px;
  justify-content: right;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
  word-spacing: 3px;
  margin-left: -24px;
  margin-right: 59%;
}
.container2-text .column#zoomIn img {

  margin-top: 108px;
  padding: 1px;
  max-width: 229px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 10px 10px 5px #2B3347;

}
.container5{
  display: grid;
  background-color: $third-background;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
  .sub-section{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap:10px;
   }
}
.container5 .hover-image {

  max-width: 286px;
  box-shadow: 10px 10px 5px #2C3952;

}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  html,
  body {
    width: auto;
    overflow-x: hidden;
  }
  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0;
  }
  .header-text {
    position: absolute;
    top: 64%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 32px;
    border: 1px solid #aaa;
  }
  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 3em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap;
  }
  .image-s {
    display: none;
  }
  .container2-text {

    display: flex;
    grid-template-columns: auto;
    padding: 0px 101px;
    background-color: #2C3952;

}
.container2-text h2 {

  font-size: 36px;
  padding: 7px 0px;
  background: -webkit-linear-gradient(grey, #aaa);
      background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.container2-text p {

  font-size: 16px;
  justify-content: right;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
  word-spacing: 3px;
  margin-left: -55px;
  margin-right: 71%;

}
.container2-text .column#zoomIn img {

  margin-top: 108px;
  padding: 1px;
  max-width: 229px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 10px 10px 5px #2B3347;
  display: none;

}
.container5{
  display: grid;
  background-color: $third-background;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
  margin-left: -23%;
  .sub-section{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap:10px;
   }
}
.container5 .hover-image {
  max-width: 286px;
  box-shadow: 10px 10px 5px #2C3952;

}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  html,
  body {
    width: auto;
    overflow-x: hidden;
  }
  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 80vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0;
  }
  .header-text {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #BBBABF;
    padding: 10px;
    border: 1px solid #aaa;

}
  .header h1 {

    color: #aaa;
    padding: 0;
    font-size: 2em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap;

}
  .image-s{
    display: none;
  }
  .container2-text {

    display: flex;
    grid-template-columns: auto;
    padding: 0px 30px;
    background-color: #2C3952;

}
.container2-text h2 {

  font-size: 36px;
  padding: 7px 0px;
  background: -webkit-linear-gradient(grey, #aaa);
      background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.container2-text p {

  font-size: 14px;
  justify-content: right;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
  word-spacing: 3px;
  margin-left: -44px;
  margin-right: 74%;

}
.container2-text .column#zoomIn img {
   display: none;
  margin-top: 108px;
  padding: 1px;
  max-width: 229px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 10px 10px 5px #2B3347;

}
.container5{
  display: grid;
  background-color: $third-background;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 20px;
  font-family: poppins;
  margin-left: -30%;

  .sub-section{
    display: grid;
grid-template-columns: auto;
grid-gap: 10px;
   }
}
.container5 .hover-image {

  max-width: 372px;
  box-shadow: 10px 10px 5px #2C3952;

}
}
@media (min-width: 240px) and (max-width: 320px) {
  html,
  body {
    width: auto;
    overflow-x: hidden;
  }
  .header {
    background-image: url("../img/rotate2.jpg");
    background-size: cover;
    background-attachment: scroll;
    height: 86vh;
    display: grid;
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
    grid-template-columns: auto;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 0;
  }
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bbbabf;
    padding: 5px;
    border: 1px solid #aaa;
  }
  .header h1 {
    color: #aaa;
    padding: 0;
    font-size: 1.9em;
    text-shadow: 3px #bbbabf;
    margin: 0;
    white-space: nowrap;
  }
  .image-s{
    display: none;
  }
  .container2-text {

    display: flex;
    grid-template-columns: auto;
    padding: 0px 0px;;
    background-color: #2C3952;

}
.container2-text h2 {

  font-size: 31px;
  padding:7px 56px;
  background: -webkit-linear-gradient(grey, #aaa);
      background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.container2-text p {

  font-size: 14px;
  justify-content: right;
  padding: 0px;
  font-family: 'Orbitron', sans-serif;
  word-spacing: 3px;
  margin-left: 60px;
  margin-right: 65%;

}
.container2-text .column#zoomIn img {
display: none;
  margin-top: 108px;
  padding: 1px;
  max-width: 229px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  box-shadow: 10px 10px 5px #2B3347;

}
.container5{
  display: grid;
  background-color: $third-background;
  grid-column-gap: 80px;
  padding: 30px;
  justify-content: center;
  font-size: 11px;
  font-family: poppins;
  margin-left: -57%;
  .sub-section{
      display: grid;
      grid-template-columns: auto ;
      grid-gap:10px;
      margin-left: 27%;
   }
}
.container5 .hover-image {

  max-width: 216px;
  box-shadow: 10px 10px 5px #2C3952;

}
.container5 h1 {
  color: #484848;
  border-bottom: 5px solid grey;
  width: 40px;
  text-align: center;
  margin-left: 28%;
}
.container5 .sub-section h2 {

  color: grey;
  margin-left: 2%;

}
}

// @media screen and (max-width: 600px) {
//   .topnav  :not(:first-child) {display: none;}
//   .topnav  a.icon {
//     float: right;
//     display: block;
//   }
//   .logo{
//    display:none;
//   }
// }

// @media screen and (max-width: 600px) {
//   .topnav  a.responsive {position: relative;}
//   .topnav a.responsive .icon {
//     position: absolute;
//     right: 0;
//     top: 0;
//   }
//   .topnav.responsive a {
//     float: none;
//     display: block;
//     text-align: left;
//   }
// }
