// variables

$black : black;
$darkgrey: #484848;
$darkblue: #2C3952;
$lightgrey: #aaa;
$white:white;
$blue:#2B3347;

// functional color

$background: $darkblue;
$second-background:$white;
$third-background:$blue;
$textcolor:$black;
$headings:$darkgrey;
$textcolor:$lightgrey;

$primary-color: rgb(23, 42, 67);
$secondary-color: #AC8C63;
$text-color: rgb(255, 255, 255);
$heading-color: rgb(201, 201, 201);
$background-color: #BBBABF;

