// variables

$black : black;
$darkgrey: #484848;
$white: white;
$lightgrey: #aaa;

// functional color

$background: $white;
$textcolor:$black;
$headings:$darkgrey;
$textcolor:$lightgrey;

$primary-color: rgb(23, 42, 67);
$secondary-color: #AC8C63;
$text-color: rgb(255, 255, 255);
$heading-color: rgb(201, 201, 201);
$background-color: #BBBABF;

